h2
    span.moduleName=module
    -if (cl.constructor && cl.constructor.augments)
        span.extends=' extends '
            each base, i in cl.constructor.augments
                a.superclass(href=base.link, title=base.longName)=base.displayName
                - if (i < cl.constructor.augments.length - 1)
                    span.sep=','

- if (cl.module && cl.module.description)
    div.overview
        h3
            a(href=cl.module.types[0].link + '#SOverview', rel=cl.module.types[0].longName + '#SOverview') Overview

- if (cl.module && cl.module.meta && cl.module.meta.dependencies && cl.module.meta.dependencies.length)
    div.dependencies
        h3
            a(href=cl.module.types[0].link + '#SDependencies', rel=cl.module.types[0].longName + '#SDependencies') Dependencies

- if (cl.constructor && cl.constructor.kind === 'class')
    div.constructor
        h3
            a(href=cl.module.types[0].link + '#SConstructor', rel=cl.module.types[0].longName + '#SConstructor') Constructor

- if (cl.properties && Object.keys(cl.properties).length)
    div.properties
        h3
            a(href=cl.module.types[0].link + '#SProperties', rel=cl.module.types[0].longName + '#SProperties') Properties
        ul
            each key in Object.keys(cl.properties).sort()
                - var prop = cl.properties[key]
                - var clazz = (prop.inherited || prop.overridden) ? 'inherited property' : 'property'
                li(class=clazz)
                    a.name(href='#/' + prop.longname, rel=prop.longname)=prop.name
                    span=' : '
                    span.returns
                        each type, j in prop.types
                            span.returnType=type.displayName
                            - if (j < prop.types.length - 1)
                                span.or='|'
                    &nbsp;

- if (cl.methods && Object.keys(cl.methods).length)
    div.methods
        h3
            a(href=cl.module.types[0].link + '#SMethods', rel=cl.module.types[0].longName + '#SMethods') Methods
        ul
            each key in Object.keys(cl.methods).sort()
                - var method = cl.methods[key]
                - var clazz = (method.inherited || method.overridden) ? 'inherited method' : 'method'
                li(class=clazz)
                    a.name(href='#/' + method.longname, rel=method.longname)=method.name
                    span=' : '
                    span.returns
                        each ret in method.returns
                            each type, j in ret.types
                                span.returnType=type.displayName
                                - if (j < ret.types.length - 1)
                                    span.or='|'
                            &nbsp;

- if (cl.events && Object.keys(cl.events).length)
    div.events
        h3
            a(href=cl.module.types[0].link + '#Sevents', rel=cl.module.types[0].longName + '#Sevents') Events
        ul
            each key in Object.keys(cl.events).sort()
                - var ev = cl.events[key]
                - var clazz = (ev.inherited || ev.overridden) ? 'inherited event' : 'event'
                li(class=clazz)
                    a.name(href='#/' + ev.longname, rel=ev.longname)=ev.name
